.hero-p{
    position: relative;
    height: 100vh;
}
.hero-p img{
   position: relative; 
   z-index: -1;
   width: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: 2;
   animation: para linear;
   animation-range: exit -300px;
   animation-timeline: view();
}
.parallex-overlay{
    text-align: left;
    position: absolute;
    /* bottom: 10%; */
    z-index: 2;
    top: 50%;
    left: 5%;
    width: 70%;
    margin:0 auto;
    animation: fade-up linear;
    animation-range: exit ;
    animation-timeline: view();
}
.parallex-overlay p{
    /* width: 80%; */
    padding-left: 5px   ;
    text-align: left;
    font-size: 1.2rem;
    line-break: auto;
}
.parallex-overlay h1{
    text-align: left ;
    color: var(--main-color);
    padding-left: 5px;
    
}
.list-check{
    width: 50%;
}
.list-check li{
    text-align: left;
}
/* .parallex-overlay h1{
    animation: fade-up linear;
    animation-range: exit -400px;
    animation-timeline: view();
} */
@keyframes fade-up{
    0%{
        opacity:1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 0.2;
    }
}
@keyframes para {
    0%{
        opacity: 1;
    }
    25%{
     opacity: 0.85;

    }
    85%,100%{
         scale: 1.8; opacity: 0;
    }

}
@media (width <992px){
    .hero-p{
        height: 110vh;
        /* overflow-x: hidden; */
    }
    .hero-p img{
        height: 100%;
        
    }
    .parallex-overlay{
        width: 80%;
        top: 30%;
    }
    .parallex-overlay h1{
        margin-bottom: .5rem !important;
    }
    .parallex-overlay p{
        font-size: 1rem;
    }
}
@media (width <768px){
    .hero-p{
        height: 130vh;
    }
    .hero-p img{
        animation: none;
    }
    /* .parallex-overlay{
        top: 20%;
    } */
}
@media (width < 568px){
    .hero-p{
        height: 100vh;
    }
}