.style {
  padding: 20px 20px 0px 2px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(217, 215, 215);
  overflow: hidden;
}
.contain {
  padding: 50px;
}
.div {
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
  margin-right: 5px;
}
.div img {
  width: 100%;
  height: auto;
  align-items: center;
}

.text {
  width: 60%;
}

.text p {
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* text-align: center; */
  margin: 0;
  text-transform: capitalize;
}
@media screen and (min-width: 767px) {
  .div {
    position: relative;
  }

  .grey-img {
    /* filter: grayscale(100%); */
    opacity: 1;
    position: absolute;
    transition: filter 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  }

  .color-img {
    filter: grayscale(0%);
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-100%);
  }

  /* .div:hover .grey-img {
  opacity: 0; 
  transform: translateY(100%);
}

.div:hover .color-img {
  opacity: 1;
  transform: translateY(0%);
} */
}

@media (max-width: 574px) {
  .contain {
    padding: 20px;
  }
  .div {
    width: 20%;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .text p {
    font-size: 22px;
  }
}
