.style {
  padding: 20px 20px 20px 2px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(217, 215, 215);
}
.contain {
  padding: 50px;
}

.style img {
  width: 70px;
  height: auto;
  margin-right: 20px;
  align-items: center;
}
.style p {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}
@media (max-width: 574px) { 
.contain {
  padding: 20px;
}
}