.background {
  width: 100%;
  height: 50dvh;
  /* background-position: center; */
  object-fit: cover;
  background-position: center;
}
.claye {
  color: #1f1f1f;
  font-size: 40px;
  font-weight: 700;
  font-family: "dosis" sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
}

.cl {
  background-image: url("../../assets/bg-our-client.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.cl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.95) 100%
  );
}

.paragraph {
  text-align: center;
  max-width: 60%;
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin: 20px 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 574px) {
  .paragraph {
    max-width: 100%;
    width: 90%;
  }
}
@media (max-width: 394px) {
  .paragraph {
    font-size: 16px;
    top: 45%;
  }
}
