.blog-head-img{
    background: url("../../assets/img/about-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 55vh;
    position: relative;
    filter: hue-rotate(25deg);
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    color: white;
    overflow: hidden;
}

.strip {
    position: absolute;
    height: 150%;
    width: 150px;
    transform: rotate(-35deg);
    animation-name: slideIn;
    animation-duration: 1s;  
}

@keyframes slideIn {
    0%   {
        right: 0;
    }
}

.blue {
    background-color: #076ACD;
    opacity: 0.8;
    right: 450px;
}

.red {
    background-color: #ff3b45;
    opacity: 0.4;
    right: 250px;
}