.blog-head-img{
    background: url("../../assets/img/about-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 55vh;
    position: relative;
    filter: hue-rotate(25deg);
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 900;
    color: white;
    overflow: hidden;
}

.strip {
    position: absolute;
    height: 150%;
    width: 150px;
    transform: rotate(-35deg);  
}

@keyframes slideIn {
    0%   {
        opacity: 0;
        right: 0;
    }

    100%    {
        opacity: 0.7;
        right: 450px;
    }
}
@keyframes slideIn1 {
    0%   {
        opacity: 0.1;
        right: 0;
    }

    100%    {
        opacity: .4;
        right: 250px;
    }
}

.blue {
    background-color: #076ACD;
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.red {
    background-color: #ff3b45;
    opacity: 0;
    animation-name: slideIn1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .31s;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-buttons button {
    margin: 0 5px;
    background-color: transparent;
    border-radius: inherit;
    padding: 8px;
    outline: none;
    border: 1px solid #ff3b45;
    color: black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination-buttons button:hover,
.pagination-buttons button:active  {
    background-color: #076ACD;
    border: transparent 1px solid;
    color: white;
}

.pagination-buttons button:disabled {
    opacity: 0.3;
    background-color: white;
    border: 1px solid #ff3b45;
    color: black;
}
.current-page{
    padding: 5px 10px;
    font-size: 19px;
}