.blog-details-nav-img {
    background-image: url('../../assets/img/bg2.webp');
    background-position: center;
    height: 30vh;
}

.left-body

.left-body .main-blog-img {
    height: 450px
}

.right-body div {
    background-color: #797979;
    margin-bottom: 20px;
    padding: 15px;
}