.Hero{
    background-image: url('../../assets/img/260168\ \(2\).jpg');
    margin: -10vh 0;
    opacity: 0.8;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 90dvh;
    position: relative;
}
.hero-heading {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
    font-family: tahoma;
    color: #f1f1f1;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 10%;
}
.overlay ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.overlay li{
    list-style-type: none;
    color: #f1f1f1;
    font-size: 17px;
    text-transform: capitalize;
    font-family: tahoma;
    font-weight: 600;
}
.overlay li a {
    color: #f1f1f1;
    font-size: 17px;
    text-transform: capitalize;
    font-family: tahoma;
    margin-right: 3px;
    font-weight: 600;
}
@media (max-width: 826px) {
    .hero-heading {
    font-size: 2rem;
}
}
@media (max-width: 570px) {
    .hero-heading {
    font-size: 1.7rem;
}
}