/* CompanyCarousel.css */
/* .company-carousel {
    margin: 20px;
    background-color: red;
  } */
.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.caro {
  width: 70px;
  height: auto;
  filter:grayscale();
  margin: 0;
  padding: 0;
}
.caro:hover {
  filter: none;
}
