.what-img img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    
    position: relative;
    bottom: 50px;
    height: 60vh;

    opacity:0.9;
    left: 100px;
    z-index: 100px;
    background: #fff;
}


.what-text ul {
    /* display: grid;
    grid-template-columns: auto 2fr; */
    column-count: 2;

    

}

.what-text h2{
    color:var(--text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 1.28;

  position: relative;
}

.span{
    font-size: 18px;
  line-height: 1.78;
  margin-bottom: 18px;
  margin-top: 0;
}

.what-text ul li{
    padding: 7px;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.78;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.what-text .btns{
    color: var(--main-color);
   /* position: absolute;
   text-transform: capitalize;
   left: 210px; */
}

.what-text .icon{
    color: var(--main-color);
}
@media only screen and (max-width: 1000px)  
{
 .what{
    display: grid !important;
 }
 .what-text ul {
    display: grid;
    grid-template-columns:  1fr !important;
    margin: 0px;
    padding: 0px;
    

}

.what-img img{
    width: 100%;
    margin-top: 20px;
    height: 40vh;
    position: relative;
    left: 0;
    bottom: 0;
}
}