.Hero{
    background-image: url('../../assets/download.jpg');
    margin: -10vh 0;
    opacity: 0.8;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 70vh;
    position: relative;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 10px;
}
.team-card{
    width: 100%;
    margin-bottom: 10px;
    /* padding:10px; */
    border-radius: 10px;
    box-shadow: 1px 1px 5px #dedede;
}
.team-card:hover .social{
    bottom: 10px;
    display: flex;
    /* height:100% */
}
.cards img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}
.connect{
    position: relative;
}
.social{
    /* background-color: blue; */
    position: absolute;
    bottom: -25px;
    width: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    transition: all 1s;
}
.social ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    transition: all 1s ease-in-out;
}
.info{
    padding: 5px;

}
.role{
    margin-bottom: 2px;
}
.info h4, .info p{
    text-align: center;

}


