  .isSticky {
    background-color:#254a9f79; 
  }

  .head{
    height: 10vh;
  }
  header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    /* padding: 15px 14%; */
    transition: all .35s ease;
    height: 10vh;
    font-family: 'poppins' sans-serif;
    color: var(--text-color);
    transition: background-color 0.3s ease;
  }
  .logo-container{
    /* margin: 20px; */
    width: 30%;
  }
  .logo-container a{
   /* width: 100%; */
   /* height: 100%; */
   margin-left: 40px;
  }
  .logo-container img {
    height: 10vh;
  }

  .navlist{
    display: flex;
    list-style: none;
    align-items: center;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
  }
  .navlist a{
    color:rgb(223, 223, 223);
    font-weight: 600;
    padding: 10px 25px;
    font-size: var(--normal-font);
    transition: all .36s ease;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
  }
 .active{
  color:blue;
 }
 .active::after{
  content: '';
  height: 2px;

 }
  .contact{
    margin-left: 50px
  }
  .navlist a ::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #c4e;
  }
  .navlist a:hover{
    color: var(--main-color);
  }
  
  .header-icons .i{
    font-size: 32px;
    color: var(--text-color);
    margin-left: 50px;
    padding-right: 5rem;
    transition: all .35s ease;
  }
  .header-icons .i:hover{
    color: var(--main-color);
  }
  #menu-icon{
    font-size: 34px;
    color: var(--text-color);
    z-index: 10001;
    margin-right: 20px;
    display: none;
  }

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}


  @media (max-width:670px) {
    #menu-icon{
      display: block;
      cursor: pointer;
    }
    .i{
      display: none;
    }
    .header-icons{
      display: inline-flex;
    }
    .navlist{
      position: absolute;
      top: 10vh;
      right: 1000px;
      width: 280px;
      height: 100vh;
      background: var(--bg-color);
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: all .45s ease;
    }
    .contact{
      margin: 0;
    }
    .navlist a{
      display: block;
      margin: 1.2rem 0;
    }
    .navlist.open{
      left: 0;
    }}


    @media(max-width:1000px) {
      header{
        padding: 7px 4%;
        transition: .2s;
      }
      
      header.sticly{
        padding: 14px 4%;
        transition: .2s;
      }
      section{
        padding: 80px 4%;
        transition: .1s;
      }
      .logo img{
        width: 60%;
        margin-left: 20px;
       }
     
    }