.tabs-container{
  background-color: var(--grey-color);
  padding: 30px;
}
.tabs{
  margin-block: 6rem;
  padding: 2rem;
  background-color: white;
  
}

  @media (max-width:670px) {
    
    .card2{
      display: flex;
      justify-content: end;
      gap: 10px;
    }
  
  
  }

  .card:hover{
    border: var(--main-color) solid;
  }