.tabs-container{
  background-color: var(--grey-color);
  padding: 30px;
}
.tabs{
  margin-block: 6rem;
  padding: 2rem;
  background-color: white;
  
}
.tab-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}

