.tech {
  padding: 5px;
}
.inside-tech {
  width: 95%;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 10px 10px 30px;
  margin: 0 auto 10px;
  box-shadow: 1px 1px 4px #b3b3b3;
  height: 100%;
}
.techie {
  border: 1px solid #dedede00;
  border-radius: 10px;
  padding: 0px 0px 19px ;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.techie img{
  width: 75px;
  height: 75px;
}
.techie:hover .tech-name{
  bottom: -5px;
  color: var(--text-color);
  /* background-image: url('../../../assets/tech/css.png'); */
  /* background-color: var(--main-color); */
  /* background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
}
.techies {
  flex-wrap: wrap;
}
.tech-name{
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  bottom: -10px;
  /* color: transparent; */
  transition: all linear .3s;
}
